@font-face {
    src: url('../Fonts/OpenSans-Regular.ttf');
    font-family: "OpenSans-Regular";
    font-style: normal;
    font-weight: normal;
}
@font-face {
    src: url('../Fonts/OpenSans-Italic.ttf');
    font-family: "OpenSans-Italic";
    font-style: italic;
    font-weight: normal;
}
@font-face {
    src: url('../Fonts/OpenSans-Bold.ttf');
    font-family: "OpenSans-Bold";
    font-style: normal;
    font-weight: bold;
}
@font-face {
    src: url('../Fonts/RobotoSlab-Regular.ttf');
    font-family: "RobotoSlab-Regular";
    font-style: normal;
    font-weight: normal;
}
* {
    margin: 0 auto;
    padding: 5px 10px;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(206, 206, 206);
    font-family: "OpenSans-Regular";
}
body {
    background-image: url(../Images/Fon.jpg);
    background-size: cover;
    max-width: 1180px;
    margin: 0 auto;
}
h1, h2 {
    font-family: 'RobotoSlab-Regular';
    text-align: center;
}
p {
    text-align:justify;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header__frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu-item{
    padding: 4px 16px;
    margin: 0 20px;
    border: 5px dotted darkcyan;
    border-style: groove;
}
.header__menu-item:hover {
    background-color: rgba(15, 15, 17, 0.945);
    font-size: larger;
}
section {
    border: 5px dotted darkcyan;
    border-style: groove;
    font-size: large;
    margin: 10px;
}
.section__about-me {
    display: flex;
    justify-content: space-between;
}
.section__about-me-left {
    display: flex;
    flex-basis: 70%;
    align-items: center;
    text-align: center;
}
.footer {
    font-size: large;
    font-style: italic;
}
.footer__container {
display: flex;
justify-content: space-between;
}
.footer__contacts{
    display: flex;
    border-bottom: 5px double darkcyan;
    padding: 0;
}
.footer__contacts:hover {
    background-color: rgba(15, 15, 17, 0.945);
    font-size: larger;
}
